<table class="container main-content feature">
  <tr>
    <td>

      <table class="row">
        <tr>
          <td class="wrapper header alert last">
            <table class="twelve columns">
              <tr>
                <td class="header__collapse">
                  <div class="text-pad">
                    <br/></br>
                    <h1 class="txt-center title-margin"><%= t('completed_verification_publisher.title', company_name: tagify("company_name") ) %></h1>
                    <p class="txt-center"><%= t('completed_verification_publisher.body') %></p>
                    <p class="txt-center"><a href="<%= tagify('discount_link') %>"><%= t('completed_verification_publisher.discount_name', discount_name: tagify('discount_name') ) %></a></p>
                    <br/></br>
                  </div>
                <td class="expander"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <%= render partial: 'partials/blocks/feature-footer' %>

    </td>
  </tr>
</table>
