<%= render partial: "partials/global/header" %>

<br/>
<%= render partial: "partials/blocks/top/completed_verification_connect_top" %>
<br/>

<table class="container main-content">
  <tr>
    <td>
      <br/>
      <%= render partial: "partials/blocks/top_text", locals: { page_name: "completed_verification_connect" } %>
      <%= render partial: "partials/blocks/discounts_six" %>
      <%= render partial: "partials/blocks/brand_list" %>
      <%= render partial: "partials/blocks/bottom_text", locals: { page_name: "completed_verification_connect" } %>
    </td>
  </tr>
</table>

<%# <%= render partial: "partials/blocks/app_ad" %>
<br/>
<br/>
<%= render partial: "partials/blocks/social_ad" %>

<%= render partial: "partials/global/footer" %>
