---
facebook_href: "https://www.facebook.com/studentbeans"
twitter_href: "https://twitter.com/studentbeans"
---

<%= partial "partials/global/header" %>  
<br/>

<table class="container ">
  <tr>
    <td>
      <br/>
      <img width="580" height="200" src="<%= (environment == :development) ? "http://placehold.it/580x200?text=#{tagify("dis_image_#{ 'hero_image' }")}" : tagify("dis_image_#{ 'hero_image' }") %>" class="center hide-for-small" />
    </td>
  </tr>
</table>

<table class="container main-content feature-image">
  <tr>
    <td>
      <img width="50" height="25" src="<%= (environment == :development) ? "http://placehold.it/50x25?text=#{tagify("dis_image_#{ 'hero_image_arrow' }")}" : tagify("dis_image_#{ 'hero_image_arrow' }") %>" class="center hide-for-small" />
      <br/>
      <%= partial "partials/blocks/top_text", locals: { page_name: "completed_verification_stb" } %>
      <%= partial "partials/blocks/discounts_six" %>  
      <%= partial "partials/blocks/brand_list" %>  
      <%= partial "partials/blocks/bottom_text", locals: { page_name: "completed_verification_stb" } %>
    </td>
  </tr>
</table>

<%= partial "partials/blocks/app_ad" %>
<br/>
<br/>
<%= partial "partials/blocks/social_ad" %>

<%= partial "partials/global/footer" %>
