<%= render partial: "partials/global/header" %>
<br>
<table class="container main-content feature">
  <tr>
    <td>

      <table>
        <tr>
          <td class="wrapper header alert last">
            <table class="twelve columns">
              <tr>
                <td class="header__collapse">
                  <div class="text-pad">
                    <br>
                    <h1 class="h3 title-margin"><%= t('not_verified_one.title', first_name: tagify('first_name')) %></h1>
                    <p><%= t('not_verified_one.line_one', brand_name: tagify('brand_name')) %></p>

                    <p><%= t('not_verified_one.line_two', institution_email: tagify('institution_email')) %></p>

                    <p><%= t('not_verified_one.line_three') %></p>

                    <p><%= t('not_verified_one.line_four', verification_link: tagify('verification_link')) %></p>

                    <p><%= t('not_verified_one.line_five', support_link: tagify('support_link')) %></p>

                    <p><%= t('not_verified_one.line_six') %></p>

                    <p><%= t('not_verified_one.line_seven') %></p>

                    <br><br>
                  </div>
                </td>
<td></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>

      <%= render partial: 'partials/blocks/feature_footer' %>

    </td>
  </tr>
</table>
<%= render partial: "partials/global/footer" %>
