---
facebook_href: "https://www.facebook.com/studentbeans"
twitter_href: "https://twitter.com/studentbeans"
---

<%= render partial: "partials/global/header" %>
<br/>
<table class="container main-content feature">
  <tr>
    <td>


      <table class="row">
        <tr>

          <td class="wrapper header last">
            <table class="twelve columns">
              <tr>
                <td class="header__collapse">
                  <div class="text-pad">

                    <br/>
                    <h1 class="h3 title-margin"><%= t('reengagement.title', user: tagify("user") ) %></h1>
                    <%= markdown t('reengagement.body', complete_registration_link: tagify("login_link") ) %>

                  </div>
                <td class="expander"></td>
              </tr>

            </table>
          </td>
        </tr>
      </table>

      <%= render partial: "partials/blocks/discounts_six", locals: { discount_count: 4 } %>
      <%= render partial: "partials/blocks/brand_list" %>


      <table class="row">
        <tr>

          <td class="wrapper header last">
            <table class="twelve columns">
              <tr>
                <td class="header__collapse">
                  <div class="text-pad">

                    <%= markdown t('reengagement.footer', login_link: tagify("login_link"), email_support: tagify('email_support_link') ) %>

                  </div>
                <td class="expander"></td>
              </tr>

            </table>
          </td>
        </tr>
      </table>

      <br/><br/>
      <%= render partial: 'partials/blocks/feature-footer' %>

    </td>
  </tr>

  
</table>
<%= render partial: "partials/global/footer" %>
