<table class="row meta">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <div class="footer-content">
                <br>
                <br>
                  <p class="txt-center"><img src="<%= image_url('footer__sb-logo.jpg') %>" class="center" ></p>

                  <p class="txt-center"> <%= t('footer.reason.' + ( defined?(reason) ? reason : 'default'  )  ) %>
                  <%= t('footer.privacy.important') %> <a class="neutral" href="https://www.studentbeans.com/info/privacy"><%= t('footer.privacy.policy') %></a></p>

              </div>
            </td>
          </tr>
          <tr>
            <td class="wrapper last">
              <table class="five columns">
                <tr>
                  <td class="six sub-columns">
                    <a class="neutral"  href="<%= current_page.data.facebook_href %>"><img src="<%= image_url('footer__facebook.jpg') %>?v=000001" width="13" height="27" class="right" ></a>
                  </td>
                  <td class="six sub-columns">
                    <a class="neutral"  href="<%= current_page.data.twitter_href %>"><img src="<%= image_url('footer__twitter.jpg') %>?v=000001" width="31" height="28" class="" ></a>
                  </td>

                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="wrapper last">
              <br>
              <p class="txt-center"><%= t('footer.office') %></p>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
