<table class="row meta">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <div class="footer-content">
                <br>
                <br>
                  <p class="txt-center"><img src="<%= image_url('footer__sb-logo.jpg') %>" class="center" ></p>

                  <p class="txt-center">This message was sent by Student Beans. You are receiving this email because you have an existing relationship with Student Beans. Don't like great student freebies and competitions?</p>

                  <p class="txt-center">Privacy is important to us. <a class="neutral" href="#policy">View our privacy policy</a></p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="wrapper last">
              <table class="five columns">
                <tr>
                  <td class="six sub-columns">
                    <a class="neutral"  href="<%= current_page.data.facebook_href %>"><img src="<%= image_url('footer__facebook.jpg') %>?v=000001" width="13" height="27" class="right" ></a>
                  </td>
                  <td class="six sub-columns">
                    <a class="neutral"  href="<%= current_page.data.twitter_href %>"><img src="<%= image_url('footer__twitter.jpg') %>?v=000001" width="31" height="28" class="" ></a>
                  </td>

                  <td class="expander"></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="wrapper last">
              <br>
              <br>
              <br>
              <br>
              <p class="txt-center">Registered Office:1 Vincent Square, London, SW1 2PN | Registered as a company in England and Wales, number: 5486885 | VAT Registration Number: 873 0262 33. Copyright 2014 Student Beans all rights reserved.</p>
            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
