<table class="row meta">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <br/><br/>
              <br/><br/>
              <table class="twelve columns">
                <tr>
                  <td class="ten sub-columns">
                    <img src="<%= image_url('header__sb-logo.png') %>?v=000002">
                  </td>
                  <td class="one sub-columns last">
                    <div class="text-right">
                      <a href="<%= current_page.data.facebook_href %>"><img src="<%= image_url('header__facebook.png') %>?v=000001" width="14" height="25" class="right" ></a>
                    </div>
                  </td>
                  <td class="one sub-columns last">
                    <div class="text-right">
                      <a href="<%= current_page.data.twitter_href %>"><img src="<%= image_url('header__twitter.png') %>?v=000001" width="30" height="25" class="right" ></a>
                    </div>
                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>
