<table class="container inline-banner inline-banner--striped" style="background-image: url('<%= image_url('social_bg.png')%>');">
<tr>
  <td>
    <table class="row">
      <tr>

        <td class="wrapper last offset-by-two">

          <table class="ten columns">
            <tbody>
              <tr>
                <td class="">

                  <table class="row">
                    <tr>
                      <td class="wrapper">
                        <table class="eight columns">
                          <tr>
                            <td class="">
                              <br/>
                              <h4 class="txt-center"><%= t('social_ad.title').upcase %></h4>
                              <br/>
                              <p class="txt-center"><%= t('social_ad.description') %></p>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>



                  <table class="row">
                    <tr>
                      <td class="wrapper">
                        <table class="four columns">
                          <tr>
                            <td class="right-text-pad txt-right">
                              
                              <table class="tiny-button facebook-button">
                                <tr>
                                  <td>
                                    <a href="<%= globals.facebook_href %>"><img src="<%= image_url('social_facebook_icon_sm.png') %>" width="15" height="15" class="icon" /> FACEBOOK</a>
                                  </td>
                                </tr>
                                </tbody>
                              </table>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>

                      <td class="wrapper last">
                        <table class="four columns">
                          <tr>
                            <td class="left-text-pad">

                              <table class="tiny-button twitter-button">
                                <tr>
                                  <td>
                                    <a href="<%= globals.twitter_href %>"><img src="<%= image_url('social_twitter_icon_sm.png') %>" width="15" height="15" class="icon" /> TWITTER</a>
                                  </td>
                                </tr>
                                </tbody>
                              </table>

                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>
                      </td>

                    </tr>
                  </table>


                </td>
                <td class="expander"></td>
              </tr>
            </tbody>
          </table>

        </td>

      </tr>
    </table>
  </td>
</tr>
</table>
